<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOGS" value="./logs"/>
    <springProperty scope="context" name="FileLoggingEnabled" source="file-logging-enabled"/>

    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %black(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%C{1.}): %msg%n%throwable
            </pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="Console"/>
    </root>

    <logger level="debug" name="com.productdock.library.user.profiles" additivity="false">
        <appender-ref ref="Console"/>
    </logger>

    <if condition='"${FileLoggingEnabled}".equals("true")'>
        <then>
            <appender name="RollingFile"
                      class="ch.qos.logback.core.rolling.RollingFileAppender">
                <file>${LOGS}/user-profiles-logger.log</file>
                <encoder
                        class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                    <Pattern>%d %p %C{1.} [%t] %m%n</Pattern>
                </encoder>

                <rollingPolicy
                        class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                    <fileNamePattern>${LOGS}/archived/user-profiles-logger-%d{yyyy-MM-dd}.%i.log
                    </fileNamePattern>
                    <maxFileSize>10MB</maxFileSize>
                    <maxHistory>7</maxHistory>
                    <totalSizeCap>50MB</totalSizeCap>
                    <cleanHistoryOnStart>true</cleanHistoryOnStart>
                </rollingPolicy>
            </appender>
            <root level="info">
                <appender-ref ref="RollingFile"/>
            </root>
            <logger level="debug" name="com.productdock.library.user.profiles" additivity="false">
                <appender-ref ref="RollingFile"/>
            </logger>
        </then>
    </if>

</configuration>